# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db

Gemfile.lock

beautiful-jekyll-theme-*.gem

# Ignore original high-res images from galleries
uploads/*/originals/
generate-gallery.rb
generate-gallery-enhanced.rb